@use "vars" as v;
.header-2 {

    // .header-2__inner

    &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: v.$bg-color;
    padding: 10px 30px;
    margin: 0 -30px;

    @media screen and (min-width: v.$breakpoint-md) {
      background: transparent;
      margin: 0;
      padding: 0;
      justify-content: flex-start;
      gap: 7px;
      margin-top: 30px;
    }
    @media screen and (min-width: v.$breakpoint-lg) {
      justify-content: flex-end;
    }
    }

    // .header-2__lang

    &__lang {
        display: flex;
    }

    // .header-2__lang-item

    &__lang-item {
    }

    // .header-2__lang-link

    &__lang-link {
        font-size: 12px;
        color: v.$text-color;
        letter-spacing: 1px;
        display: block;
        padding: 5px 7px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: v.$radius-sm;

        &:hover {
            background: v.$accent-color;
            color: v.$basic-white;

          }
      
          &:active {
            background: v.$accent-color;
          }
    }

    // .header-2__address

    &__address {
        display: none;
    @media screen and (min-width: v.$breakpoint-md) {
      display: block;
      color: v.$text-color;
      cursor: pointer;
    }
    }

    // .header-2__phone

    &__phone {
        font-weight: 700;
        color: v.$text-color;
    }

    // .header-2__social

    &__social {
        display: none;
    @media screen and (min-width: v.$breakpoint-md) {
      display: block;

      svg {
        width: 25px;
        height: 25px;
        fill: v.$text-color;

        &:hover {
          fill: v.$accent-color;
        }
      }
    }
    }

    // .header-2__box

    &__box {
    margin: 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: v.$breakpoint-md) {
      margin: 30px 0 0;
    }
    @media screen and (min-width: v.$breakpoint-lg) {
      position: absolute;
      left: 30px;
      margin: 0;
      transform: translateY(-50%);
    }
    }

    &__box-logo {
        img {
          @media screen and (min-width: v.$breakpoint-md) {
            width: 130px;
            height: 60px;
          }
        }
      }

    // .header-2__box-burger

    &__box-burger {
        width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;

    &::before,
    &::after,
    span {
      content: "";
      position: absolute;
      height: 2px;
      top: 10px;
      left: 7px;
      right: 7px;
      background: v.$main-color;
    }
    &::after {
        top: auto;
        bottom: 10px;
      }
  
      span {
        top: 50%;
        margin-top: -1px;
      }
  
      @media screen and (min-width: v.$breakpoint-md) {
        display: none;
      }
}

    // .header-2__nav

    &__nav {
    position: fixed;
    bottom: -100%;
    left: 8px;
    right: 8px;
    z-index: 10;
    background: v.$active-color;
    padding: 12px;
    border-top-left-radius: v.$radius-md;
    border-top-right-radius: v.$radius-md;
    transition: bottom 0.2s linear;
    &.active {
      bottom: 0;
    }

    @media screen and (min-width: v.$breakpoint-md) {
        position: static;
        background: transparent;
        margin: 30px 0 0;
        display: block;
        padding: 0;
      }
      @media screen and (min-width: v.$breakpoint-lg) {
        margin: 16px 0 0;
      }
}

    // .header-2__nav-close

    &__nav-close {

    color: v.$accent-color;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;

    position: relative; 
    
    @media screen and (min-width: v.$breakpoint-md) {
        display: none;
    }

    &::before, &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px; 
        background-color:#ec6f5d; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        width: 23.5px;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(45deg); 
    }

    &::after {
        transform: translate(-50%, -50%) rotate(-45deg); 
    }
    }

    // .header-2__nav-list

    &__nav-list {
        display: flex;
    flex-flow: column;
    gap: 15px;
    margin-top: 20px;
    @media screen and (min-width: v.$breakpoint-md) {
      margin-top: 0;
      flex-flow: row;
    }

    @media screen and (min-width: v.$breakpoint-lg) {
      justify-content: flex-end;
    }
    }

    // .header-2__nav-item

    &__nav-item {
    }

    // .header-2__nav-link

    &__nav-link {
    font-weight: 700;
    font-size: 24px;
    color: v.$active-color;
    display: block;
    padding: 7px;
    background: v.$bg-color;
    text-align: center;
    border-radius: v.$radius-md;

    &:hover {
      color: v.$accent-color;
    }
    &:active {
      color: v.$active-color;
      background: v.$separator-color;
    }
    
    @media screen and (min-width: v.$breakpoint-md) {
      color: v.$active-color;
      font-size: 16px;
      padding: 0;
      background: none;
      border-radius: 0;

      &:hover {
        background: transparent;
        position: relative; 
        color: v.$accent-color;
      }
      &:hover::after {
        content: "";
        position: absolute;
        bottom: -3px; 
        left: 0;
        width: 100%;
        height: 2px; 
        background-color: v.$accent-color; 
      }
  
      &:active {
        color: v.$accent-color; 
        background: transparent; 

      &::after{
        background-color: v.$accent-color;
      }
      }
    }
    }
}

    @media screen and (min-width: v.$breakpoint-md) {
        .container {
            max-width: 100%;
            margin: 0 auto;
        }
    }


.active {
}
.dotted {
}
