@use "vars" as v;

.services {

    // .services__title

    &__link {
        font-weight: 700;
        color: v.$active-color;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
        display: inline-flex;
        align-items: center;
    }
    &__link svg {
        margin-left: 2px;
        stroke: v.$active-color; 
        transition: stroke 0.3s ease;
      }

    &__link:hover {
        color: v.$accent-color;
    }
    &__link:hover svg {
        stroke: v.$accent-color; 
      }

    // .services__question

    &__question {
        font-weight: 700;
        font-size: 30px;
        background: v.$gradient-red-text;  
        -webkit-background-clip: text;   
        background-clip: text;          
        color: transparent; 
        margin-bottom: 30px; 
        @media screen and (min-width: v.$breakpoint-md) {
            font-size: 38px;
            margin-bottom: 60px;
        }
    }
}

